In [ ]:
# 1. Perform the following operations using R/Python on suitable data sets:
# a) read data from different formats (like csv, xls)
# b) indexing and selecting data, sort data,
# c) describe attributes of data, checking data types of each column,
# d) counting unique values of data, format of each column, converting variable data type (e.g.
  #  from long to short, vice versa),
# e) identifying missing values and fill in the missing values

In [ ]:
import pandas as pd
data = pd.read_csv("Mall_Customers.csv")

In [ ]:
#SELECTING
s_data = data ['Age']
selected_data = data.head()
# print(selected_data.head())
print(s_data)

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [ ]:
#SORTING
sr_data = data.sort_values(by='Age')
sorted_data = sr_data.head()
print(sorted_data)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
114         115  Female   18                  65                      48
91           92    Male   18                  59                      41
65           66    Male   18                  48                      59
33           34    Male   18                  33                      92
0             1    Male   19                  15                      39

In [ ]:
# c) describe attributes of data, checking data types of each column,
describe = data.describe()
print(describe)

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [ ]:
# d) counting unique values of data,
dtypes = data.dtypes
print(dtypes)

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [ ]:
# e) identifying missing values and fill in the missing values
cols = data.columns.tolist()
u_count = [data[col].nunique() for col in cols]
print(u_count)

[200, 2, 51, 64, 84]

In [ ]:
print([data["CustomerID"].nunique()])

[200]

In [ ]:
m_count = data.isnull().sum()
f_data = data.fillna(value='0')
print(m_count)

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64